<p class="title">Experience</p>
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            December 2018 - July 2019
        </mat-panel-title>
        <mat-panel-description>
            Academy Start It
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="panel__text">Studying Web Development</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            August 2019 – May 2021
        </mat-panel-title>
        <mat-panel-description>
            Front-End Developer | Freelance
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="panel__text">Modified large multi-layered sites in a CMS (Wordpress, Joomla) <br>
        Сreated responsive and cross-browser web applications according to mockup and specifications that work across desktops, tablets and other devices</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            October 2020 - Nowadays
          </mat-panel-title>
          <mat-panel-description>
            Lviv Polytechnic National University | Computer Science
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="panel__text">Created a Java full stack application with all the CRUD features using React as Front end framework, Spring Boot as the backend REST API and PostgreSQL database.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            October 2021 – March 2022
          </mat-panel-title>
          <mat-panel-description>
            Angular Front-end Developer Intern | SoftServe
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="panel__text">Wrote some unit tests <br>
            Added adaptability for a few pages Implemented automatic translation and autocomplete of places <br>
            Redesigned a page according to mockup <br>
            Added some pop-ups using mat-dialog <br>
            Communicated with backend services using HTTP and processed JSON data to render in the UI <br>
            Experienced in component development and frontend application scalability</p>
    </mat-expansion-panel>
  </mat-accordion>