<p class="title">Projects</p>
<swiper [config]="swiperConfig">
      <ng-template swiperSlide>
        <div class="slider__container">
            <a href="">
                <img class="slider__image" src="https://i.pinimg.com/236x/c0/b7/32/c0b7329d6b587c6d74a7573cfeb6cc1a.jpg" alt="">
                <p class="slider__title">Cooking blog</p>
                <p class="slider__subtext">Tech: HTML/CSS/JS, Wordpress</p>
            </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider__container mt-40">
            <a href="">
                <img class="slider__image" src="https://i.pinimg.com/236x/19/58/70/1958700698b844db4ce1e57ef4ad040d.jpg" alt="">
                <p class="slider__title">Traveling</p>
                <p class="slider__subtext">Tech: HTML/CSS/JS</p>
            </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider__container">
            <a href="">
                <img class="slider__image" src="https://i.pinimg.com/236x/8f/fd/6e/8ffd6e79cba9d427b5458b3fdb2edd52.jpg" alt="">
                <p class="slider__title">Online shop</p>
                <p class="slider__subtext">Tech: HTML/CSS/JS, Gulp</p>
            </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider__container mt-40">
            <a href="">
                <img class="slider__image" src="https://i.pinimg.com/236x/4d/c2/14/4dc214999ac8ab51336457bd6f236a8a.jpg" alt="">
                <p class="slider__title">Photos portfolio</p>
                <p class="slider__subtext">Tech: HTML/CSS/JS, Angular</p>
            </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider__container">
            <a href="">
                <img class="slider__image" src="https://i.pinimg.com/236x/8b/1a/03/8b1a03e0c8f35a946b71e50c10cae1b0.jpg" alt="">
                <p class="slider__title">Home greenery</p>
                <p class="slider__subtext">Tech: HTML/CSS/JS</p>
            </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider__container mt-40">
            <a href="">
                <img class="slider__image" src="https://i.pinimg.com/236x/2b/48/9d/2b489d57df7a42b17a7754094a16f2d7.jpg" alt="">
                <p class="slider__title">Angular Converter</p>
                <p class="slider__subtext">Tech: HTML/CSS/JS, Angular, NGRX</p>
            </a>
        </div>
      </ng-template>
      <!-- <ng-template swiperSlide>
        <div class="slider__container">
            <a href="">
                <p class="slider__title">And other</p>
                <p class="slider__subtext">Tech: HTML/CSS/JS</p>
            </a>
        </div>
      </ng-template> -->
</swiper>