<p class="title">Projects</p>
<swiper [config]="swiperConfig">
      <ng-template swiperSlide>
        <div class="slider__container">
          <img class="slider__image" src="https://i.pinimg.com/236x/f3/f2/80/f3f280cb151dadf0b2d532ca45cdd92f.jpg" alt="">
          <a href="https://pieceofcakekn205.000webhostapp.com/" target="_blank" class="slider__title">Cooking blog</a>
          <p class="slider__subtext">Tech: HTML/CSS/JS, Wordpress, Git, Figma</p>
        </div>
      </ng-template>
      <!-- <ng-template swiperSlide>
        <div class="slider__container mt-40">
            <a href="">
                <img class="slider__image" src="https://i.pinimg.com/236x/19/58/70/1958700698b844db4ce1e57ef4ad040d.jpg" alt="">
                <p class="slider__title">Traveling</p>
                <p class="slider__subtext">Tech: HTML/CSS/JS</p>
            </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider__container">
            <a href="">
                <img class="slider__image" src="https://i.pinimg.com/236x/8f/fd/6e/8ffd6e79cba9d427b5458b3fdb2edd52.jpg" alt="">
                <p class="slider__title">Online shop</p>
                <p class="slider__subtext">Tech: HTML/CSS/JS, Gulp, Photoshop</p>
            </a>
        </div>
      </ng-template> -->
      <ng-template swiperSlide>
        <div class="slider__container mt-40">
          <img class="slider__image" src="https://i.pinimg.com/236x/38/90/e1/3890e10432c4b12e1846935a81228bdf.jpg" alt="">
          <a href="https://svitlanavorobets.github.io/pet-project/angularnews/" target="_blank" class="slider__title">Photos portfolio</a>
          <p class="slider__subtext">Tech: HTML/CSS/JS, Angular</p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider__container">
          <img class="slider__image" src="https://i.pinimg.com/236x/8b/1a/03/8b1a03e0c8f35a946b71e50c10cae1b0.jpg" alt="">
          <a href="https://svitlanavorobets.github.io/Home_greenery/" target="_blank" class="slider__title">Home greenery</a>
          <p class="slider__subtext">Tech: HTML/CSS/JS, Bootstrap, Figma</p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider__container mt-40">
          <img class="slider__image" src="https://i.pinimg.com/236x/2b/48/9d/2b489d57df7a42b17a7754094a16f2d7.jpg" alt="">
          <a href="https://svitlanavorobets.github.io/angular-converter/" target="_blank" class="slider__title">Angular Converter</a>
          <p class="slider__subtext">Tech: HTML/CSS/JS, Angular</p>
        </div>
      </ng-template>
      <!-- <ng-template swiperSlide>
        <div class="slider__container">
            <a href="">
                <p class="slider__title">And other</p>
                <p class="slider__subtext">Tech: HTML/CSS/JS</p>
            </a>
        </div>
      </ng-template> -->
</swiper>