$primary-color: #777777;
$white: #fff;

:host {
    padding-left: 200px;
    display: block;
    margin-bottom: 50px;
}

.d-flex{
    display: flex;
}

.main__row{
    display: flex;
    justify-content: space-between;
}

.line .d-flex{
    align-items: center;
}

.line{
    width: 40%;
    margin-right: 100px;
    margin-top: 25px;
}

.line__img{
    justify-content: space-between;
    margin-top: 60px;

    img{
        margin-right: 0;
    }
}

input, textarea{
    display: block;
    border: 1px solid #777;
    background: transparent;
    padding: 10px 20px 10px 8px;
    margin: 5px 0 10px;
    font-family: "Rockwell";
    font-style: normal;
    color: $white;
    width: 95%;
}

textarea{
    height: 90px;
    resize: none;
    font-family: "Rockwell";
    font-style: normal;
    color: $white;
}

label, .contact-info{
    color: $white;
    padding: 3px;
    font-family: 'Rockwell';
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

label{
    font-size: 14px;
}

.contact-info{
    font-size: 18px;
}

img{
    width: 35px;
    height: 35px;
    margin-right: 30px;
}

span{
    font-family: 'Rockwell';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: $white;
}

hr{
    width: 45%;
}

.first__line{
    margin: 0 30px 0 0;
}

.second__line{
    margin: 0 0 0 30px;
}

.mb-20{
    margin-bottom: 20px;
}

.error{
    margin-left: 10px;
    color: white;
    font-size: 10px;
}

::ng-deep .mat-button-wrapper{
    color: $primary-color !important;
}

form{
    margin-left: 90px;
    width: 30%;

    .border-button{
        margin-left: 0;
    }
}

@media(max-width:1000px) {
    :host {
        padding-left: 0;
    }
}

@media(max-width:800px) {
    .main__row{
        flex-direction: column;
    }

    form{
        margin: 0 auto;
        width: 75%;
    }

    .line{
        margin: 0 auto;
        width: 80%;
        margin-bottom: 50px;
    }
 }