<div class="container__image">
    <div class="back__main__img"></div>
    <img class="main__img" src="assets/img/photo.jpg" alt="">
</div>
<p class="title">Welcome <br>to the my portfolio</p>
<p class="subtext">My name is <strong>Svitlana Vorobets</strong> and I am motivated Front-end Developer who loves to learn something new and solve problems creatively. I hope to find a great team to develop my skills and benefit the company itself.</p>
<div class="d-flex">
    <div class="border-button"><button onclick="location.href='#contact'">Send a message</button></div>
    <div class="border-button"><button>
       <a href="/assets/Resume Svitlana Vorobets.pdf" download>Download my resume</a> 
    </button></div>
</div>