<p class="title">Skills</p>
<div class="d-flex">
    <div class="first__list">
        <p class="list__title">Hard skills</p>
        <ul>
            <li>HTML5, CSS3(Flexbox/Grid, SASS / SCSS), BEM methodology, Bootstrap</li>
            <li>Javascript(EcmaScript 5+), TypeScript, jQuery</li>
            <li>Angular, Angular Material, Rxjs, NGRX, Unit tests, RESTtful API (swagger)</li>
            <li>Git/github, gitlab, Gulp, Webpack</li>
            <li>Agile and Scrum methodologies, Jira, Trello</li>
            <li>C/C++, SQL, PostgreSQL</li>
            <li>Photoshop, Figma</li>
        </ul>
    </div>
    <div class="second__list">
        <p class="list__title">Soft skills</p>
        <ul>
            <li>Teamwork</li>
            <li>Responsibility</li>
            <li>Creativity</li>
            <li>Adaptability</li>
        </ul>
        <p class="list__title">Languages</p>
        <ul>
            <li>Ukrainian - Native</li>
            <li>English - Intermediate</li>
        </ul>
    </div>
</div>
<div class="border-button"><button><a href="https://drive.google.com/drive/folders/11iXAoPgWWP7ZthD19daCyZTasnRs2OEx?usp=sharing" target="_blank">All certificates</a></button></div>